.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.idCard {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.5em;
  margin: 0.5em;
  border: solid 2px black;
}

.imageIdCard {
  padding: 1em 1em 0 0;
}

.greeting {
  border: 2px solid black;
  text-align: left;
  padding: 0.5em;
  margin: 1.5em 0.5em;
}

h1 {
  text-align: left;
  margin-left: 0.5em;
}

.colorBox {
  border: 2px solid black;
  padding: 0.5em;
  margin: 1.5em 0.5em;
  mix-blend-mode: difference
}
